.Assignment-information-background-container{
    position: absolute;
    top: 19.5%;
    width: 100%;
    z-index: -2; 
}

.Assignment-information-background{
    background-color: #346B7A;
    position: relative;
    padding-bottom: 0.5%;
    z-index: -1;
  }

.Assignment-information-container{
    position: relative;
    padding-top: 0.5%;
    width: 50%;
}

.Assignment-information-body{
    height: 712px;
}

.Exercise-card-container{
    position: relative;
    left: 5%;
    display: flex;
    flex-flow: column wrap;
    max-height: 520px;
}

.Overall-instructions-container{
    position: relative;
    padding-top: 0.5%;
    width: 50%;
}

.Overall-instructions-body{
    height: 712px;
}

.Overall-instructions-title{
    text-align: center;
    padding-top: 20%;
}

.Assignment-form-finish-button{
    padding-top: 10%;
    text-align: center;
}

.Plus{
    width: 250px;
    height: 150px;
    align-items: center;
    padding-top: 5%;
}
