.Exercise-form-title-container{
    position: absolute;
    top: 6.5%;
    left: 9%
}

.background-container{
    position: absolute;
    top: 25%;
    width: 100%; 
    z-index: -2;
}

.background{
    background-color: #346B7A;
    position: relative;
    padding-bottom: 1.5%;
    z-index: -1;
  }
.Exercise-form-title-text{
    position: relative;
    color: #707070;
    font: Nunito; 
    font-size: 45px;
    font-weight: 500;
}
.Added-exercise-list-container{
    position: absolute;
    top: 22%;
    left: 6.7%;
}

.Added-exercise-list-text{
    position: relative;
    font-size: 35px;
}
.Exercise-type-dropdown-container{
    position: absolute;
    align-self: flex-end;
}

.Exercise-preview-body{
    /* margin-left: 10%;
    margin-right: auto; */
    width: 625px;
    height: 650px;
    top: 15px;
    text-align: center;
}

.Added-exercise-list{
    left: 10%;
}


.exerciseCard{
    color: #346B7A;
    width: 250px;
    
}

.added{
    color: black;
    text-align: right;
}


