.App {
  text-align: center;
}

.App-logo-container{
  position: absolute;
  align-self: flex-start;
}

.App-logo {
  height: 25%;
  pointer-events: none;
  position: relative; 
  z-index: 5; 
  
}

.App-background-container{
  position: absolute;
  top: 25%;
  width: 100%; 
  

}

.bg{
  background-color: #346B7A;
  position: relative;
  padding: 100px;
  padding-left: 30%;
  padding-bottom: 27%;
  z-index: -1;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {                                         //does spin
    animation: App-logo-spin infinite 20s linear;
  }
}*/

/*.App-header {
  background-color: #790f0f;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}
.card-body{
  top: 300px;
  width: 500px;
  height: 450px;
  float:left;
  
  }
.card-body-2{
  top: 300px;
  width: 500px;
  height: 450px;
  left: 150px;

}

.App-logo-container{
  position: absolute;
  align-self: flex-start;
  left: 20px;
  top: 30px;
}

.App-logo {
  pointer-events: none;
  position: relative; 
  z-index: 5;
  max-width: 85%;
  height: auto;
}

.Mira-site-header{
  position: absolute;
  align-self: flex-start;
  left: 11%;
  top: 5%
}
.Mira-banner{
  position: relative;
  width: 150%;
  height: auto;
}
.Username{
  border:none;
  position: relative;
  width: 35%;
  right:49px;
  outline:none;

}
.Password{
  border:none;
  position: relative;
  width: 35%;
  outline:none;
}
.Login-container{
  position: absolute;
  padding-top: 75px;
  top: 16px;
  right:290px;

}
.Button{
  position:absolute;
  top: 85px;
  right: 225px;
  background-color:#346B7A;
  color:white;
  border-radius: 25px;
  width: 95px;
  height:35px;

}
.bubbles{
  position: absolute;
  z-index: -100;
  top: 70px;
  right:330px;
  height: auto;
}
.bubbles2{
  position: absolute;
  top: 70px;
  right: 510px;
  flex:right;
}
.New-user-container{
  position:absolute;
  top: 145px;
  right:560px;
  
}
.Forgot-password-container{
  position:absolute;
  top: 145px;
  right:355px;
  
}
.user{
  color:gray;
}
.pword{
  color:gray;
}


/*@keyframes App-logo-spin {
  from {                                      //amount of spin
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
